<div id="<%= dom_id friend %>">
  <p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======

>>>>>>> 77d63fdef52d21434cfc012b9ad8bd19ed7aa737
>>>>>>> 97baec1487fe543eda33d8d3a54afadef00b89b4
  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

</div>
